<section class="hero">
  <div class="hero-slider" style="background:{{ s.bg_color }};{% if s.height_desktop %}height:{{ s.height_desktop }};{% endif %}">
    {% for slide in s.slides %}
      <img {% if loop.first %}class="active"{% endif %} src="{{ slide.image }}" alt="{{ slide.alt }}">
    {% endfor %}
  </div>
</section>